<h1>東京 WeatherTokyo</h1>

<div class="weather_box">
	<div id="conditions">
		<p><%= @temperature %>&deg;C, <%= @text_condition %></p>
		<%= image_tag("cloud.svg", :id => "weather_icon") %>
	</div>
	<div id="astronomy">
		<p>Sunrise: <%= @sunrise %></p>
		<p>Sunset: <%= @sunset %></p>
	</div>
</div>
