<div class="weather_box">
	<div class="top_bar">
		<div class="conditions">
		<%= image_tag("therm-50.svg") %>
		<p>
			<%= @temperature %>&deg;C, <%= @text_condition %>
		</p>
		</div>
		<div class="weather_icon">
			<%= image_tag("cloud-moon.svg") %>
		</div>
	</div>
	<div class="bottom_bar">
		<div class="astronomy">
			<%= image_tag("sun-lower.svg") %>
			<p>Sunrise <%= @sunrise %></p>
			<p>Sunset <%= @sunset %></p>
		</div>
		<div class="wind">
			<%= image_tag("wind.svg") %>
			<p>Wind</p>
			<p><%= @wind_speed %> km/h</p>
		</div>
	</div>
</div>
