<!DOCTYPE html>
<html>
<head>
  <title>WeatherTokyo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar">
	<h1 class="site_header">
	東京 WeatherTokyo
		<span class="clock">Japan <%= @tokyo_time %></span>
	</h1>
</div>
<div class="container">
	<%= yield %>
</div>
</body>
</html>
