<!DOCTYPE html>
<html>
<head>
  <title>WeatherTokyo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<div class="navbar">
		<div class="site_header">
			<h1>東京 WeatherTokyo <span class="japan_time">Japan | <%= @tokyo_time %></span>
			</h1>
		</div>
	</div>
	<%= yield %>
</div>
</body>
</html>
